/*eslint-disable-next-line*/
export const firebaseConfig = {
  apiKey: "",
  authDomain: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: "",
  appId: ""
};

gitにfirebasseの情報を載せない処理を行う
.gitignoreというファイルにenv,js(firebaseConfigの情報が記載)をgitに上げないように記載
チームメンバーに知らせるためこのファイルを作成
